<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Name: {{ name }}</p>
        <p>Surname: {{ surname }}</p>

        <ion-item>
          <ion-label>New Name</ion-label>
          <ion-input type="text" [(ngModel)]="newName" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>New Surname</ion-label>
          <ion-input type="text" [(ngModel)]="newSurname" required></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="changeNameSurname()"
          >Change Name and Surname</ion-button
        >

        <!-- Other code here... -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
